<%= simple_form_for(@list) do |x| %>
<%= x.input :name, label: "What's the name of your new list?" %>
<%= x.submit "Create New List" %>
<% end %>
<br>
<p><%= link_to '<i class="fa-solid fa-house-chimney"></i>'.html_safe, lists_path %></p>
